* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #253858;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input, textarea, select {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: #253858;
}

a:hover, .submit:hover {
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "GT-Eesti", Arial;
    font-weight: 500;
    color: #42526E;
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

::placeholder {
    color: #a6ff34;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #a6ff34;
}

::-ms-input-placeholder {
    color: #a6ff34;
}

header {
    background: url(../assets/img/spot\ light.jpg);
    height: 935px;
}

header .wrapper {}

header .wrapper section.head {
    display: flex;
    justify-content: space-between;
}

header .wrapper section.head .left {

    display: flex;
    padding-top: 20px;
}

header .wrapper section.head .left h1 {}

header .wrapper section.head .left h1 a {}

header .wrapper section.head .left h1 a img {
    color: #fff;
    display: block;
    width: 100%;
}

header .wrapper section.head div.middle {
    display: flex;
    justify-content: center;
}

header div.middle ul {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 500px;
}

header .wrapper section.head .middle ul li {
    margin-top: 35px;
    text-align: center;
}

header .wrapper section.head .middle ul li a {
    color: #e8e8e8;
    align-items: center;

}

header .wrapper section.head .right {}

header .wrapper section.head .right ul {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    height: 100%;
}

header .wrapper section.head .right ul li {
    margin-left: 35px;
    text-align: center;
    margin-top: 23px;
}

header .wrapper section.head .right ul li a {
    color: #e8e8e8;

}

header .wrapper section.head .right ul li a.button {
    background: #e8e8e8;
    border-radius: 43px;
    width: 20px;
    padding: 12px 12px;
    color: #0b0a0a;
    font-weight: bold;
}

section.bottom {
    text-align: center;
}

section.bottom section.container {
    padding: 80px;
}

section.bottom section.container h1 {
    font-size: 68px;
    color: #e8e8e8;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
}

section.bottom section.container p {
    width: 40%;
    margin: 50px auto;
    color: #666666;
}

section.bottom section.container a.button {
    font-size: 20px;
    background: #a6ff34;
    border-radius: 104px;
    padding: 20px 54px;
    margin-left: 113px;
    font-weight: bold;
    color: #0b0a0a;
}

section.bottom section.container a.button span {
    /* display: inline-block; */
    /* padding-top: 29px; */
    position: relative;
}

section.bottom section.container a.button span img {
    /* margin-top: 10px; */
    position: absolute;
    top: -3px;
}

section.bottom section.container a.arrow {}

section.bottom section.container a.arrow img {
    color: #e8e8e8;
    font-size: 70px;

}

section.bottom section.sticker {
    position: relative;
    text-align: center;
}

section.bottom section.sticker div.one {
    position: absolute;
    transform: rotate(-14deg);
    left: 174px;
    top: 87px;
    z-index: 2;
}

section.bottom section.sticker div.one img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.two {
    position: absolute;
    margin-left: 40%;
    left: -40px;
    top: 130px;
}

section.bottom section.sticker div.two img {
    width: 57%;
    display: block;
}

section.bottom section.sticker div.three {
    position: absolute;
    transform: rotate(8deg);
    left: 911px;
    top: 174px;
}

section.bottom section.sticker div.three img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.four {

    position: absolute;
    transform: rotate(10deg);
    left: 755px;
    top: 109px;
}

section.bottom section.sticker div.four img {
    width: 100%;
    display: block;
}