* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input, textarea, select {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: #253858;
}

a:hover, .submit:hover {
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "GT-Eesti", Arial;
    font-weight: 500;
    color: #42526E;
    /* #42526E */
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

::placeholder {
    color: #a6ff34;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #a6ff34;
}

::-ms-input-placeholder {
    color: #a6ff34;
}

header {
    background: url(../assets/img/spot\ light.jpg);
    height: 900px;
}

header .wrapper {}

header .wrapper section.head {
    display: flex;
    justify-content: space-between;
}

header .wrapper section.head .left {

    display: flex;
    padding-top: 20px;
}

header .wrapper section.head .left h1 {}

header .wrapper section.head .left h1 a {}

header .wrapper section.head .left h1 a img {
    color: #fff;
    display: block;
    width: 100%;
}

header .wrapper section.head div.middle {
    display: flex;
    justify-content: center;
}

header div.middle ul {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 500px;
}

header .wrapper section.head .middle ul li {
    margin-top: 35px;
    text-align: center;
}

header .wrapper section.head .middle ul li a {
    color: #e8e8e8;
    align-items: center;

}

header .wrapper section.head .right {}

header .wrapper section.head .right ul {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    height: 100%;
}

header .wrapper section.head .right ul li {
    margin-left: 35px;
    text-align: center;
    margin-top: 23px;
}

header .wrapper section.head .right ul li a {
    color: #e8e8e8;

}

header .wrapper section.head .right ul li a.button {
    background: #e8e8e8;
    border-radius: 43px;
    width: 20px;
    padding: 12px 12px;
    color: #0b0a0a;
    font-weight: bold;
}

section.bottom {
    text-align: center;
}

section.bottom section.container {
    padding: 80px;
}

section.bottom section.container h1 {
    font-size: 68px;
    color: #e8e8e8;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
}

section.bottom section.container p {
    width: 40%;
    margin: 50px auto;
    color: #666666;
}

section.bottom section.container a.button {
    font-size: 20px;
    background: #a6ff34;
    border-radius: 104px;
    padding: 20px 54px;
    margin-left: 113px;
    font-weight: bold;
    color: #0b0a0a;
}

section.bottom section.container a.button span {

    position: relative;
}

section.bottom section.container a.button span img {
    position: absolute;
    top: -3px;
}

section.bottom section.container a.arrow {}

section.bottom section.container a.arrow img {
    color: #e8e8e8;
    font-size: 70px;

}

section.bottom section.sticker {
    position: relative;
    text-align: center;
}

section.bottom section.sticker div.one {
    position: absolute;
    transform: rotate(-14deg);
    left: 361px;
    top: 73px;
    width: 15%;
    z-index: 2;
}

section.bottom section.sticker div.one img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.two {
    position: absolute;
    width: 15%;
    left: 558px;
    top: 101px;
}

section.bottom section.sticker div.two img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.three {
    position: absolute;
    transform: rotate(-2deg);
    width: 15%;
    left: 761px;
    top: 53px;
}

section.bottom section.sticker div.three img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.four {
    position: absolute;
    transform: rotate(10deg);
    left: 945px;
    top: 109px;
    width: 15%;
}

section.bottom section.sticker div.four img {
    width: 100%;
    display: block;
}

#open {
    background: #a6ff34;
    height: 94vh;
    margin-top: 3px;
}

#open .wrapper {
    height: 94vh;
}


#open .wrapper h1 {
    padding: 90px;
    font-size: 60px;
    font-weight: bold;
    color: #0b0a0a;
    text-align: center;
}

#open .wrapper .search {
    position: absolute;
    margin-left: 25%;
    background: #e8e8e8;
    border-radius: 13px;
    padding: 39px 42px 37px 42px;
    width: 30%;
}

#open .wrapper .search img {
    width: 100%;
    display: block;
}

#open .wrapper .right {
    position: absolute;
    right: 386px;
}

#open .wrapper .right img {}

#open .wrapper .left {
    position: absolute;
    left: 392px;
}

#open .wrapper .left img {
    transform: scaleX(-1);
}

#open .wrapper p {
    text-align: center;
    color: #8e8e8e;
    width: 45%;
    margin: 237px auto;
}



section#logo {}

section#logo section.wrapper {}

section#logo section.wrapper h1 {
    font-size: 63px;
    font-weight: 700;
    padding-top: 100px;
}

section#logo section.wrapper h1 span {
    color: #808080;
    font-weight: 700;
}

section#logo section.wrapper div.two {}

section#logo section.wrapper div.two h3 {
    text-align: center;
    font-size: 60px;
    margin-top: 200px;
    font-weight: 500;
}

section#logo section.wrapper div.two ul {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section#logo section.wrapper div.two ul li {
    width: 23%;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 10px;
}

section#logo section.wrapper div.two ul li div {
    width: 50%;
    margin: 40px auto;
    border-radius: 56%;
}

section#logo section.wrapper div.two ul li div img {
    display: block;
    width: 100%
}

section.musk {
    background: #f6f6f6;

}

section.musk section.wrapper {}

section.musk section.wrapper section.top {}

section.musk section.wrapper section.top h2 {
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    font-weight: 700;
}

section.musk section.wrapper section.top ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

section.musk section.wrapper section.top ul li {
    width: 10%;
    background: white;
    border-radius: 10px;
}

section.musk section.wrapper section.top ul li div.img {
    width: 50%;
    margin: 25px auto;
}

section.musk section.wrapper section.top ul li div.img img {
    display: block;
    width: 100%;
}

section.musk section.wrapper section.top div.one {
    width: 70%;
    margin: 50px auto;
}

section.musk section.wrapper section.top div.one img {
    display: block;
    width: 100%;
}

section.musk section.wrapper section.top div.button {
    margin-bottom: 50px;
}

section.musk section.wrapper section.top div.button a.button {
    border: 1px;
    color: white;
    padding: 13px;
    background: #000;
    font-weight: 600;
    border-radius: 12px;
    display: block;
    width: 13%;
    margin: 0 auto;
    text-align: center;

}

section#deal {
    background-color: #000;
}

section#deal section.wrapper {}

section#deal section.wrapper h1 {
    color: #fff;
    text-align: center;
    font-size: 68px;
    padding: 100px 0px 0px;
    font-weight: 700;
}

section#deal section.wrapper div.mac {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    margin: 32px;
}

section#deal section.wrapper div.mac span {
    margin: 50px ;
    color: #fff;
}

section#deal section.wrapper div.mac div.toggle {
    width: 10%;
}

section#deal section.wrapper div.mac div.toggle img {
    width: 100%;
    display: block;
}

section#deal section.wrapper div.mac div.toggle span {
    margin: 50px;
    color: #fff;
}

section#deal section.wrapper div.mac div.toggle div.arrow {}

section#deal section.wrapper div.mac div.toggle div.arrow img {
    width: 100%;
    display: block;
}

section#deal section.wrapper ul {
    display: flex;
    justify-content: space-evenly;

}

section#deal section.wrapper ul li.one {
    background-color: white;
    border-radius: 15px;
    width: 30%;
}

section#deal section.wrapper ul li.one h3 {}

section#deal section.wrapper ul li.one span {}

section#deal section.wrapper ul li.one hr.line {}

section#deal section.wrapper ul li.one ul {}

section#deal section.wrapper ul li.one ul li {}

section#deal section.wrapper ul li.one ul li div.viv {}

section#deal section.wrapper ul li.one ul li div.viv img {}

section#deal section.wrapper ul li.one ul li div.viv span {}

section#deal section.wrapper ul li.one a.button {}

section#deal section.wrapper ul li.two {
    background-color: #a8ff36;
    width: 30%;
    border-radius: 15px;
}

section#deal section.wrapper ul li.two h3 {}

section#deal section.wrapper ul li.two span {}

section#deal section.wrapper ul li.two hr.line {}

section#deal section.wrapper ul li.two ul {}

section#deal section.wrapper ul li.two ul li {}

section#deal section.wrapper ul li.two ul li div.viv {}

section#deal section.wrapper ul li.two ul li div.viv img {}

section#deal section.wrapper ul li.two ul li div.viv span {}

section#deal section.wrapper ul li.two a.button {}

section#deal section.wrapper ul li.three {
    background-color: #fff;
    width: 30%;
    border-radius: 15px;
}

section#deal section.wrapper ul li.three h3 {}

section#deal section.wrapper ul li.three span {}

section#deal section.wrapper ul li.three hr.line {}

section#deal section.wrapper ul li.three>ul {}

section#deal section.wrapper ul li.three>ul>li {}

section#deal>section.wrapper>ul>li.three>ul>li>div.viv {}

section#deal section.wrapper ul li.three>ul>li>div.viv img {}

section#deal section.wrapper ul li.three ul li div.viv span {}

section#deal section.wrapper ul li.three a.button {}