* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input, textarea, select {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: #253858;
}

a:hover, .submit:hover {
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "GT-Eesti", Arial;
    font-weight: 500;
    color: #42526E;
    /* #42526E */
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

::placeholder {
    color: #a6ff34;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #a6ff34;
}

::-ms-input-placeholder {
    color: #a6ff34;
}

header {
    background: url(../assets/img/spot\ light.jpg);
    height: 900px;
}

header .wrapper {}

header .wrapper section.head {
    display: flex;
    justify-content: space-between;
}

header .wrapper section.head .left {

    display: flex;
    padding-top: 20px;
}

header .wrapper section.head .left h1 {}

header .wrapper section.head .left h1 a {}

header .wrapper section.head .left h1 a img {
    color: #fff;
    display: block;
    width: 100%;
}

header .wrapper section.head div.middle {
    display: flex;
    justify-content: center;
}

header div.middle ul {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 500px;
}

header .wrapper section.head .middle ul li {
    margin-top: 35px;
    text-align: center;
}

header .wrapper section.head .middle ul li a {
    color: #e8e8e8;
    align-items: center;

}

header .wrapper section.head .right {}

header .wrapper section.head .right ul {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    height: 100%;
}

header .wrapper section.head .right ul li {
    margin-left: 35px;
    text-align: center;
    margin-top: 23px;
}

header .wrapper section.head .right ul li a {
    color: #e8e8e8;

}

header .wrapper section.head .right ul li a.button {
    background: #e8e8e8;
    border-radius: 43px;
    width: 20px;
    padding: 12px 12px;
    color: #0b0a0a;
    font-weight: bold;
}

section.bottom {
    text-align: center;
}

section.bottom section.container {
    padding: 80px;
}

section.bottom section.container h1 {
    font-size: 68px;
    color: #e8e8e8;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
}

section.bottom section.container p {
    width: 40%;
    margin: 50px auto;
    color: #666666;
}

section.bottom section.container a.button {
    font-size: 20px;
    background: #a6ff34;
    border-radius: 104px;
    padding: 20px 54px;
    margin-left: 113px;
    font-weight: bold;
    color: #0b0a0a;
}

section.bottom section.container a.button span {

    position: relative;
}

section.bottom section.container a.button span img {
    position: absolute;
    top: -3px;
}

section.bottom section.container a.arrow {}

section.bottom section.container a.arrow img {
    color: #e8e8e8;
    font-size: 70px;

}

section.bottom section.sticker {
    position: relative;
    text-align: center;
}

section.bottom section.sticker div.one {
    position: absolute;
    transform: rotate(-14deg);
    left: 361px;
    top: 73px;
    width: 15%;
    z-index: 2;
}

section.bottom section.sticker div.one img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.two {
    position: absolute;
    width: 15%;
    left: 558px;
    top: 101px;
}

section.bottom section.sticker div.two img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.three {
    position: absolute;
    transform: rotate(-2deg);
    width: 15%;
    left: 761px;
    top: 53px;
}

section.bottom section.sticker div.three img {
    width: 100%;
    display: block;
}

section.bottom section.sticker div.four {
    position: absolute;
    transform: rotate(10deg);
    left: 945px;
    top: 109px;
    width: 15%;
}

section.bottom section.sticker div.four img {
    width: 100%;
    display: block;
}

#open {
    background: #a6ff34;
    height: 94vh;
    margin-top: 3px;
}

#open .wrapper {
    height: 94vh;
}


#open .wrapper h1 {
    padding: 90px;
    font-size: 60px;
    font-weight: bold;
    color: #0b0a0a;
    text-align: center;
}

#open .wrapper .search {
    position: absolute;
    margin-left: 25%;
    background: #e8e8e8;
    border-radius: 13px;
    padding: 39px 42px 37px 42px;
    width: 30%;
}

#open .wrapper .search img {
    width: 100%;
    display: block;
}

#open .wrapper .right {
    position: absolute;
    right: 386px;
}

#open .wrapper .right img {}

#open .wrapper .left {
    position: absolute;
    left: 392px;
}

#open .wrapper .left img {
    transform: scaleX(-1);
}

#open .wrapper p {
    text-align: center;
    color: #8e8e8e;
    width: 45%;
    margin: 237px auto;
}



section#logo {}

section#logo section.wrapper {}

section#logo section.wrapper h1 {
    font-size: 63px;
    font-weight: 700;
    padding-top: 100px;
}

section#logo section.wrapper h1 span {
    color: #808080;
    font-weight: 700;
}

section#logo section.wrapper div.two {}

section#logo section.wrapper div.two h3 {
    text-align: center;
    font-size: 60px;
    margin-top: 200px;
    font-weight: 500;
}

section#logo section.wrapper div.two ul {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section#logo section.wrapper div.two ul li {
    width: 23%;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 10px;
}

section#logo section.wrapper div.two ul li div {
    width: 50%;
    margin: 40px auto;
    border-radius: 56%;
}

section#logo section.wrapper div.two ul li div img {
    display: block;
    width: 100%
}

section.musk {
    background: #f6f6f6;

}

section.musk section.wrapper {}

section.musk section.wrapper section.top {}

section.musk section.wrapper section.top h2 {
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    font-weight: 700;
}

section.musk section.wrapper section.top ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

section.musk section.wrapper section.top ul li {
    width: 10%;
    background: white;
    border-radius: 10px;
}

section.musk section.wrapper section.top ul li:hover {
    background: #a6ff34;
}

section.musk section.wrapper section.top ul li div.img {
    width: 50%;
    margin: 25px auto;
}

section.musk section.wrapper section.top ul li div.img img {
    display: block;
    width: 100%;
}

section.musk section.wrapper section.top div.one {
    width: 70%;
    margin: 50px auto;
}

section.musk section.wrapper section.top div.one img {
    display: block;
    width: 100%;
}

section.musk section.wrapper section.top div.button {
    padding-bottom: 50px;
}

section.musk section.wrapper section.top div.button a.button {
    border: 1px;
    color: white;
    padding: 13px;
    background: #000;
    font-weight: 600;
    border-radius: 12px;
    display: block;
    width: 13%;
    margin: 0 auto;
    text-align: center;

}

section#deal {
    background-color: #000;
    padding-bottom: 100px;
}

section#deal section.wrapper {}

section#deal section.wrapper h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    font-weight: 700;
    color: white;
}

section#deal section.wrapper div.mac {
    display: flex;
    justify-content: center;
    margin: 32px;
}

section#deal section.wrapper div.mac span {
    margin: 50px;
    color: #fff;
}

section#deal section.wrapper div.mac div.toggle {
    width: 10%;
}

section#deal section.wrapper div.mac div.toggle img {
    width: 100%;
    display: block;
}

section#deal section.wrapper div.mac div.toggle span {
    margin: 50px;
    color: #fff;
}

section#deal section.wrapper div.mac div.toggle div.arrow {}

section#deal section.wrapper div.mac div.toggle div.arrow img {
    width: 100%;
    display: block;
}

#deal div.deal-bottom {
    display: flex;
    justify-content: space-between;
}

#deal div.deal-bottom div.one {
    width: 30%;
    background: #fff;
    padding: 3%;
    border-radius: 20px;
}

#deal .wrapper div.deal-bottom div.one h5 {
    font-size: 35px;
    font-weight: bold;
}

#deal div.one nav {
    margin-top: 2%;
}

#deal div.one span b {
    font-size: 40px;
    font-weight: bold;
}

div.one hr.line {
    border-bottom: 2px solid #cfcdcd;
    margin-top: 5%;
}

div.one ul {
    margin-top: 20px;
}

div.one ul li {
    margin-top: 5%;
}

div.button-bottom {
    background: greenyellow;
    margin-top: 60%;
    padding: 5%;
    text-align: center;
    border-radius: 35px;
}

div.deal-bottom div.two {
    width: 30%;
    background: greenyellow;
    padding: 3%;
    border-radius: 20px;
}

div.two h5 {
    font-size: 35px;
    font-weight: bold;
}

div.two nav {
    margin-top: 2%;
}

div.two span b {
    font-size: 40px;
    font-weight: bold;
}

div.two hr.line {
    border-bottom: 2px solid #cfcdcd;
    margin-top: 5%;
}

div.two ul {
    margin-top: 20px;
}

div.two ul li {
    margin-top: 10px;
}

div.button-bottom-two {
    background: #000;
    margin-top: 60%;
    padding: 5%;
    text-align: center;
    border-radius: 35px;
}

div.button-bottom-two a.button {
    color: #fff;
}

div.deal-bottom div.three {
    width: 30%;
    background: #fff;
    padding: 3%;
    border-radius: 20px;
}

div.three h5 {
    font-size: 35px;
    font-weight: bold;
}

div.three nav {
    margin-top: 2%;
}

div.three span b {
    font-size: 40px;
    font-weight: bold;
}

div.three hr.line {
    border-bottom: 2px solid #cfcdcd;
    margin-top: 5%;
}

div.three ul {
    margin-top: 20px;
}

div.three ul li {
    margin-top: 10px;
}

div.button-bottom {
    background: greenyellow;
    margin-top: 60%;
    padding: 5%;
    text-align: center;
    border-radius: 35px;
}

section.email {
    height: 500px;
    background-color: #a8ff36;
}

section.email section.wrapper {
    text-align: center;
    padding: 100px 0px;
}

section.email section.wrapper h1 {
    font-size: 68px;
    font-weight: 700;
}

section.email section.wrapper p {
    font-size: 68px;
    color: #72b41c;

}

section.email section.wrapper a.button {
    display: inline-block;
    padding: 16px 40px;
    background: #000;
    color: #fff;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 40px;
}

footer {
    padding: 20px;
}

footer section.wrapper {
    display: flex;
    justify-content: space-between;


}

footer section.wrapper div.left {
    width: 20%;
}

footer section.wrapper div.left img {
    width: 100%;
    display: block;
}

footer section.wrapper div.right {
    padding-top: 20px;
    width: 32%;
    font-size: 20px;
    font-weight: bold;
}

footer section.wrapper div.right ul {
    display: flex;
    justify-content: space-between;

}

footer section.wrapper div.right ul li {}



@media all and (max-width: 1380px) {
    section.bottom section.sticker div.one {
        top: 10%;
        left: 274px;

    }

    #open .wrapper .left {
        left: 18%;
    }

    #open .wrapper .right {
        right: 27%;
    }

    #open .wrapper .search {
        right: 39%;
    }

    section.bottom section.sticker div.two {
        top: 19px;
        left: 450px;

    }


    section.bottom section.sticker div.three {
        top: 10%;
        left: 641px;

    }

    section.bottom section.sticker div.four {
        top: -19px;
        left: 823px;
    }

    footer section.wrapper div.right {
        width: 41%;


    }

    section.bottom section.container h1 {
        font-size: 50px;
        50px
    }
}

@media all and (max-width: 1280px) {
    header .wrapper section.head div.middle {
        width: 42%;
    }

    section.bottom section.container h1 {
        font-size: 40px;
    }

    section.bottom section.container p {
        width: 25%;
    }

    section.bottom section.sticker div.two {
        left: 417px;
    }

    section.bottom section.sticker div.three {

        top: -16px;
        left: 565px;
    }

    section.bottom section.sticker div.four {
        top: 20px;
        left: 713px;
    }

    section#logo section.wrapper h1 {
        font-size: 49px;

    }

    section#logo section.wrapper div.two h3 {
        margin-top: 100px;
        font-size: 49px;
    }
}


@media all and (max-width: 1080px) {
    section.email section.wrapper h1 {
        font-size: 59px;
    }

    section.email section.wrapper p {
        font-size: 59px;
    }

    section#logo section.wrapper div.two ul li {
        width: 30%;
        margin: 30px auto;
    }

    section#logo section.wrapper div.two ul li div {
        font-size: 40px;
    }

    header .wrapper section.head div.middle {
        display: none;
    }

    section.bottom section.sticker {
        margin: 20px -70px;
    }

    section#logo section.wrapper h1 {
        font-size: 46px;
    }

    #open .wrapper .search {
        right: 35%;
    }

    #open .wrapper .right {
        width: 3%;
    }

    section.musk section.wrapper section.top h2 {
        font-size: 48px;
    }

    div.button-bottom {

        margin-top: 35%;
    }

    #deal div.deal-bottom {
        height: 490px;
    }

    div.button-bottom-two {
        margin-top: 35%;
    }
}

@media all and (max-width: 980px) {
    #open .wrapper .left {
        left: 13%;
    }

    section.bottom section.sticker div.four {
        display: none;
    }

    section.bottom section.container h1 {
        font-size: 30px;
    }

    section.bottom section.container p {
        width: 42%;
    }

    section#logo section.wrapper h1 {
        font-size: 37px;
    }

    section#logo section.wrapper div.two h3 {
        font-size: 40px;
    }

    section#logo section.wrapper div.two ul li {
        width: 40%;

    }

    section.musk section.wrapper section.top h2 {
        font-size: 40px;
    }

    section.musk section.wrapper section.top ul {
        flex-wrap: wrap;
    }

    section.musk section.wrapper section.top ul li {
        width: 23%;
        margin-top: 15px;
    }

    section.musk section.wrapper section.top div.one {
        width: 100%;
    }

    section.musk section.wrapper section.top div.button a.button {
        width: 23%;
    }

    section#deal section.wrapper div.mac div.toggle {
        width: 18%;
    }

    div.deal-bottom div.three {
        display: none;
    }

    div.deal-bottom div.two {
        width: 42%;
    }

    #deal div.deal-bottom div.one {
        width: 42%;
    }

    section#deal section.wrapper div.mac div.arrow {
        display: none;
    }
    footer section.wrapper div.right{
        width: 55%;
    }
}